/target
/Cargo.lock
/CMakeFiles
/Makefile
/cmake_install.cmake
.DS_Store
.idea
venv/
__pycache__/

c-system-test/build/

c-example-code/build/

C-Headers/sedsprintf.h

python-files/sedsprintf_rs_2026/sedsprintf_rs_2026.pyi

sedsprintf_rs.cpython-312-darwin.so